---
const nav = [
  {
    href: "about",
    label: "会社情報",
  },
  {
    href: "contact",
    label: "お問い合わせ",
  },
];
---

<html>
  <meta charset="UTF-8" />
  <ul>
    {
      nav.map((elms) => {
        return (
          <li>
            <a href={elms.href}>{elms.label}</a>
          </li>
        );
      })
    }
  </ul>


</html>
